.board {
  background: rgba(113, 113, 113, 0.2);
  background-repeat: no-repeat;
  padding: 12px;
  margin: 20px;
  height: 90vh;
  display: flex;
  align-items: baseline;
  gap: 4px;
  box-shadow: black 0px 0px 20px 2px;
  overflow-x: auto;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .board {
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
  }
}
.board_sec {
  display: flex;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.boardGap {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 2px;
  background-color: transparent;
  height: 100%;
  overflow: scroll;
  min-width: 272px;
}
.listInput {
  width: 272px !important;
  transition: none !important;
}
.listInput:focus {
  border: 2px solid var(--dynamic-text-color) !important;
  box-shadow: none !important;
}

.actionBtn {
  background-color: var(--dynamic-text-color);
  color: white !important;
  padding: 6px 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 3px;
  margin: 4px 0px;
  cursor: pointer;
  background-color: #004a76;
  transition: all 300ms ease-in-out;
}

.actionBtn:hover {
  background-color: #0267a2;
}
